.carousel-caption {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  text-align: center;
}

.carousel-caption h2 {
  font-size: 3.333vw;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.carousel-caption a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.carousel-caption a:hover {
  background-color: #0056b3;
}

#a {
  text-decoration: none;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  /* text-align: center; */
  margin-bottom: 30px;
  position: relative;
}

.section-title::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #446c1c;
  position: absolute;
  left: 7%;
  bottom: -15px;
  transform: translateX(-50%);
}
