:root {
  --white: #ffffff;
  --grey: #656a70;
  --black: #181b20;
  --green: #446c1c;
  --body-white: #edefec;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  color: var(--black);
  background-color: var(--body-white);
}

a {
  text-decoration: none !important;
}

.card {
  border: none !important;
  border-radius: 0 !important;
}
