.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 40px;
}

.navbar .brand-name {
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
}

.navbar .nav-links {
    display: flex;
    list-style: none;
}

.navbar .nav-links li {
    margin: 0 15px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.navbar .auth-links a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: .5rem;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
}

.mobile-menu {
    display: none;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
}

.mobile-menu.active {
    display: block;
}

.mobile-menu ul {
    list-style: none;
    padding: 20px 0;
    margin: 0;
}

.mobile-menu ul li {
    text-align: center;
    margin: 10px 0;
}

.mobile-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

@media (min-width: 993px) {
    .hamburger {
        display: none !important;
    }

    .mobile-menu {
        display: none !important;
    }
}

@media (max-width: 992px) {

    .auth-links {
        display: none !important;
    }

    .hamburger {
        display: flex !important;
    }

    .mobile-menu.active li {
        display: none !important;
    }

    .mobile-menu.active li:nth-child(5),
    .mobile-menu.active li:nth-child(6) {
        display: block !important;
    }
}

@media (max-width: 720px) {
    .nav-links {
        display: none !important;
    }

    .mobile-menu.active li {
        display: block !important;
    }
}