:root {
    --white: #ffffff;
    --grey: #656a70;
    --black: #181B20;
    --green: #446c1c;
    --body-white: #edefec;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--black);
    background-color: var(--body-white);
}



/* i.fas {
    font-weight: 500;
} */

/* content: "\f007"; */